accelerate
audiomentations
diffusers
encodec
fairseq
ffmpeg-python==0.2.0
gradio==4.25.0
json5
librosa==0.9.1
openai-whisper
pedalboard
praat-parselmouth
pyworld
scipy
scikit-learn
soundfile
tensorboard
tensorboardX
tgt
torch
torchaudio
torchcrepe
transformers
